* {
  font-family: $font-stack;
}

input {
  padding: 20px;
  margin: 20px;
  display: inline;
  border: 1px solid #BFD9BD;
  border-radius: 10px;
  outline: none;
  &:focus {
    border: 1px solid #FFC50C;
    box-shadow: 0px 0px 2px 0px #FFC50C;
  }
}

/* BUTTONS */ 

@each $label, $color in $button-states {
    
  .btn-#{$label} {
    background-color: $color;
    color: $white;
    &:hover {
      background-color: lighten($color, 10%);
    }

    @if (lightness($color) > 30) { color: $black; }
  };
}

button {
  padding: 10px;
  border-radius: 25px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}